<p>Numero total de eventos: {{totalEventos}}</p>
<p>Numero total de eventos en español: {{totalEventosEs}}</p>
<p>Numero total de eventos en ingles: {{totalEventosEn}}</p>
<br>
<p>Numero total de participantes: {{totalParticipantes}}</p>
<p>Numero total de emails pendientes: {{totalPending}}</p>
<p>Numero total de emails aceptados: {{totalAccepted}}</p>
<p>Numero total de emails rechazados: {{totalRejected}}</p>
<p>Numero total de participantes confirmados: {{totalConfirmed}}</p>
<p>Numero total de participantes dados de baja: {{totalUnsubscribed}}</p>
