<p>Hi {{toname}}!</p>

<p>Event: {{eventname}}</p>
<p>{{eventdatetime}}</p>
<p>{{amountMinMax}}</p>
<p>{{eventlocation}}</p>

<p>Secret friend: {{friendname}} {{friendsurname}}</p>
<img src="https://secret-amigos-api.herokuapp.com/images/image_from_ios.png" height="42" width="42" style="vertical-align: middle" alt="logo">

<p>{{custommessage}}</p>
Confirm your participation <a href="{{serverurl}}/confirm?eventid={{eventid}}&participantid={{toid}}">here!</a>

<p style="color: grey; font-size:small;">This message is sent to you because your email address was provided by the event organizer. 
    If you are not interested in participating in this event, just hit <a href="{{serverurl}}/unsubscribe?eventid={{eventid}}&participantid={{toid}}" style="font-style: italic;">Unsubscribe</a>.</p>
