<p>Hola {{toname}}!</p>

<p>Evento: {{eventname}}</p>
<p>Dia y hora: {{eventdatetime}}</p>
<p>{{amountMinMax}}</p>
<p>{{eventlocation}}</p>

<p>Nombre amigo: {{friendname}} {{friendsurname}}</p>
<img src="https://secret-amigos-api.herokuapp.com/images/image_from_ios.png" height="42" width="42" style="vertical-align: middle" alt="logo">

<p>{{custommessage}}</p>


<p style="color: red; font-size:small;">Este mensaje fue enviado a {{toname}} {{tosurname}} - {{toemail}} <br>
If you are not {{toname}} {{tosurname}}, click <a href="{{serverurl}}/unsubscribe?eventid={{eventid}}&participantid={{toid}}">here</a> to unsubscribe</p>
