<p>Hola {{toname}}!</p>

<p>Evento: {{eventname}}</p>
<p>Dia y hora: {{eventdatetime}}</p>
<p>{{amountMinMax}}</p>
<p>{{eventlocation}}</p>

<p>Nombre amigo: {{friendname}} {{friendsurname}}</p>
<img src="https://secret-amigos-api.herokuapp.com/images/image_from_ios.png" height="42" width="42" style="vertical-align: middle" alt="logo">

<p>{{custommessage}}</p>
<a href="{{serverurl}}/confirm?eventid={{eventid}}&participantid={{toid}}">Confirma tu participación!!</a>

<p style="color: grey; font-size:small;">Este mensaje te fue enviado a solicitud del organizador de este evento. Si no estas interesado en participar de este evento haz click <a href="{{serverurl}}/unsubscribe?eventid={{eventid}}&participantid={{toid}}" style="font-style: italic;">aqui</a>.</p>
