<p>Hola {{toname}}!</p>

<p>Fuiste invitado al evento {{eventname}} {{datetime}}.</p>

<p>Ubicación: {{location}}</p>

<p>En el sorteo te tocó comprar regalo para <strong>{{friendname}} {{friendsurname}}</strong>.<br>{{amountTxt}}</p>

<p>{{custommessage}}</p>

<!-- <div style="display:{{confVisible}};">
    Confirma tu participación con un click <a href="{{serverurl}}/es/confirm/{{token}}">aquí!</a>
    </div> -->
<p>Confirma tu participación con un click <a href="{{serverurl}}/es/confirm/{{token}}">aquí!</a></p>
            
<p>Disfruta del evento!,</p>

<p><img src="https://secretamigoapp.com/images/logos/SecretAmigo_App_Icon.png" height="42" width="42" style="vertical-align: middle" alt="logo"> Secret Amigo
    <br><a href="https://secretamigoapp.com">secretamigoapp.com</a>
</p>
<a href="https://www.apple.com/app-store/">
    <img src="https://secretamigoapp.com/images/logos/App_Store_Black_Badge.png" height="42" style="vertical-align: middle" alt="Apple_Store">
</a>

<p style="color: grey; font-size:small;">Este mensaje te fue enviado a solicitud del organizador de este evento.
    Si no estas interesado en participar de este evento haz click <a href="{{serverurl}}/es/unsubscribe/{{token}}" style="font-style: italic;">aquí</a>.</p>
